/*-------------*/
/*Fontello*/
/*--------------*/

@font-face {
  font-family: 'fontello';
  src: url('font/fontello.eot?91917361');
  src: url('font/fontello.eot?91917361#iefix') format('embedded-opentype'),
       url('font/fontello.woff?91917361') format('woff'),
       url('font/fontello.ttf?91917361') format('truetype'),
       url('font/fontello.svg?91917361#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?91917361#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-glass:before { content: '\e801'; } /* '' */
.icon-music:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\e803'; } /* '' */
.icon-link-ext:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-globe:before { content: '\e806'; } /* '' */
.icon-graduation-cap:before { content: '\e807'; } /* '' */
.icon-briefcase:before { content: '\e808'; } /* '' */
.icon-birthday:before { content: '\e809'; } /* '' */
.icon-github-circled:before { content: '\e80a'; } /* '' */
.icon-stackoverflow:before { content: '\e80b'; } /* '' */
.icon-facebook:before { content: '\e80c'; } /* '' */
.icon-linkedin:before { content: '\e80d'; } /* '' */
.icon-headphones:before { content: '\e80e'; } /* '' */
.icon-swimming:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-industrial-building:before { content: '\e811'; } /* '' */
.icon-college:before { content: '\e812'; } /* '' */
.icon-wrench:before { content: '\e813'; } /* '' */
.icon-location:before { content: '\e814'; } /* '' */
.icon-file-pdf:before { content: '\e815'; } /* '' */
.icon-print-1:before { content: '\e816'; } /* '' */



/*-------------------*/
/*Custom CSS*/
/*--------------------*/

html, body {
	min-height: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background-color: rgb(50,50,50);
	color: #333333;
}
body * {
	font-family: 'Open Sans', 'helvetica neue', helvetica, freesans, 'liberation sans', 'numbus sans l', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	text-align: left;
	box-sizing: border-box;
	display: flex;
	margin:0;
	padding:0;
}
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
    background-color: #666;
    -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
    background-color: #666;
    -webkit-border-radius: 3px;
}

body {
	text-align: center;
}
a {
	color: #4FB36B;
}
#bg {
	background-image: url(img/bg.jpg);
	background-size: cover;
	position: absolute;
	min-height: 100vw;
	min-width: 100vw;
	top: 0;
	left: 0;
    filter: blur(3px) brightness(0.75);
    -webkit-filter: blur(3px) brightness(0.75);
    -moz-filter: blur(3px) brightness(0.75);
    -ms-filter: blur(3px) brightness(0.75);
    -o-filter: blur(3px) brightness(0.75);
    z-index: 1;
    box-shadow: inset 0px 8rem 240px rgba(50,50,50,0.6);
    transition: top 0.3s ease-in-out;
}
#global-container {
	flex-direction: row;
	justify-content: center;
	padding: 10% 20%;
	width: 100%;
}
#paper {
	flex-direction: row;
	min-width: 60vw;
	background-color: white;
	z-index: 2;
	box-shadow: 0 22px 70px 4px rgba(0,0,0,0.56);
}
#paper > div {
	flex-direction: column;
}
#paper-left{
	background-color: rgb(50,50,50);
	min-width:19%;
}
#paper-right{
	flex-grow: 3;
	padding: 0px 20px 20px 20px;
	flex-direction: column;
}
#paper-header {
	flex-direction:row;
	justify-content:flex-start;
	padding: 50px 20px 40px 15px;
}
#profile-picture>img{
	width:100px;
	height:100px;
	border-radius: 50%;
	margin-right:30px;
	/* box-shadow: 2px 2px 100px 5px rgba(50,50,50,0.2); */
	box-shadow: 0px 0px 0px 2px #cccccc;
}
#header-infos {
	flex-direction: column;
	justify-content: center;
}
#header-infos>h1{
	font-size:16px;
	font-weight: bold;
	color: #4FB36B;
}
#header-infos>*{
	padding: 2px 0px;
}
#header-infos-tags{
	flex-flow: row wrap;
	justify-content: flex-start;
	font-size: 12px;
	color: #aaaaaa;
	padding: 8px 60px 0 0;
}
.header-infos-tag{
	padding: 0px 12px 4px 0px;
}
.header-infos-tag>i::before{
	font-size:12px;
	padding-right: 4px;
}
#paper-content {
	flex-direction: column;
}
.paper-right-row{
	border-top: 1px solid #e4e4e4;
	flex-flow: row wrap;
}
.paper-right-row > div {
	padding: 12px 10px;
	flex-flow: row nowrap;
}
#experience>.row-content,
#skills>.row-content,
#volunteering>.row-content {
	padding-top:0;
	min-width: 100%;
}
.paper-right-row>.row-head{
	text-transform: uppercase;
	color: #999a9b;
	font-size: 13px;
	font-weight: bold;
	min-width: 22%;
}
#experience-row-head,
#skills-row-head,
#volunteering-row-head{
	flex-basis:100%;
}
.paper-right-row>.row-content{
	font-size: 13px;
	flex-flow: column nowrap;
}
.experience-item{
	flex-flow: row nowrap;
	padding: 0px 0px 6px 0px;
}
.experience-metadata{
	flex-flow: column nowrap;
	min-width: 22.7%;
}
.experience-metadata>h1{
	color: #4FB36B;
	font-weight: 700;
}
.experience-metadata-tags{
	flex-flow: row wrap;
	max-width: 60px;
	color: #aaaaaa;
}
.experience-metadata-tags *{
	font-size: 11px;
}
.experience-main{
	flex-flow: column nowrap;
}
.position{
	font-weight: 700;
	color: #444444	;
}
.tools{
	font-size: 12px;
}
.experience-text,.education-text{
	font-size: 12px;
	color: #888888;
	display: block;
}
.skills-list{
	min-width: 100%;
	padding-bottom: 1px;
}
.skills-list-head{
	text-transform: uppercase;
	color: #4FB36B;
	font-size: 11px;
	font-weight:700;
	min-width: 22.7%;
}
.skills-list-item{
	color: #cccccc;
}
.skill-100{
	color:#444444;
	font-weight: 700;
}
.skill-90{
	color:#555555;
	font-weight: 700;
}
.skill-80{
	color:#666666;
	font-weight: 600;
}
.skill-70{
	color:#777777;
	font-weight: 500;
}
.skill-60{
	color:#888888;
}
.skill-50{
	color:#999999;
}
.skill-40{
	color:#aaaaaa;
}
.skill-30{
	color:#bbbbbb;
}
.skill-20{
	color:#cccccc;
}
.skill-10{
	color:#dddddd;
}
.skills-list-item::after{
	content:',';
	padding-right: 3px;
}
.skills-list-item:last-child::after{
	content:'';
}
#interests{
	flex-flow: row nowrap;
}
#interests-list{
	flex-flow: row wrap;
}
.interest{
	padding-right: 3px;
}
.interest::after{
	content:',';
}
.interest:last-child::after{
	content:'';
}
#right-of-paper{
	z-index:2;
	flex-flow: column nowrap;
	min-width: 15%;
	max-height: 1px;
}
.contacts{
	flex-flow: row wrap;
	min-width: 100%;
	flex-basis: 100%;
	transition: padding 0.2s ease-in-out;
}
#right-of-paper * {
	text-decoration: none;
	font-size: 24px;
	color: rgba(255,255,255,0.6);
	padding: 5px
}
.contact{
	flex-basis:100%;
}
#right-of-paper i:hover{
	color: rgba(68,200,120,0.6);
	transition: color 0.1s ease-in-out;
}
.prints{
	flex-flow: row wrap;
}